.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}
body{
    height: 100%;
}
.bigBox{
    width: 100%;
    height: 94%;
    background: #dcedff;
}
.leftBodyBody ul{
    cursor: pointer;
}
.leftBox{
    margin: 0.9%;
    width: 20%;
    float: left;
    height: 96%;
    border-radius: 3px;
    background: #FFFFFF;
}
.leftTitle{
    color: #FFFFFF;
    padding: 5px 0 5px 10px;
    background: #4476A7;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.leftBodyTitle li{
    display: inline-block;
    font-size: 16px;
    color: black;
    border: 1px solid #FFFFFF;
    line-height: 25px;
    background: #FFFFFF;
    text-align: center;
    background: #dcedff;
    border-radius: 3px;
}
.leftBodyBodyBigBox{
    overflow: hidden;
    overflow: auto;
}
.leftBodyBody li{
    display: inline-block;
    font-size: 16px;
    color: black;
    line-height: 25px;
    text-align: center;
    color: #000000;
}
.leftBodyBody li:first-child{
    display: inline-block;
    font-size: 16px;
    color: black;
    border: 1px solid #FFFFFF;
    line-height: 25px;
    background: lightpink;
    text-align: center;
    border-radius: 3px;
}
.rightBoxTitle{
    margin: 5px;
    padding: 5px;
    border: 1px solid #C2BE9E;
    border-radius: 3px;
}
.rightBox{
    margin: 0.9%;
    width: 76%;
    float: left;
    height: 96%;
    border-radius: 3px;
    background: #FFFFFF;
}
.TitleStyle1{
    font-size: 14px;
    display:inline-flex;
    border: 1px solid #FFFFFF;
    background: #dcedff;
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
}
.TitleStyle1 label{
    color: #1E9FFF;
    line-height: 25px;
}
.TitleStyle1 input{
    border: none;
    outline: none;
    background: #FFFFFF;
    color: #1E9FFF;
    width: 80px;
    height: 20px;
    margin: 2.5px;
    padding-left: 3px;
}
.TitleStyle2{
    font-size: 14px;
    display:inline-flex;
    border: 1px solid #FFFFFF;
    background: #dcedff;
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
}
.TitleStyle2 label{
    color: #1E9FFF;
    line-height: 25px;
}
.TitleStyle2 input{
    border: none;
    outline: none;
    background: #FFFFFF;
    color: #1E9FFF;
    width: 160px;
    height: 20px;
    margin: 2.5px;
    padding-left: 3px;
}
.rightBoxBody{
    margin: 5px;
    padding: 5px;
    border: 1px solid #C2BE9E;
    border-radius: 3px;
    height: 38%;
}
.record{
    margin: 5px;
    padding: 5px;
    border: 1px solid #C2BE9E;
    border-radius: 3px;
    height: 40%;
}
.record h4{
    border-bottom: 1px solid #C2BE9E;
    margin: 5px;
    padding-bottom: 5px;
    color: #01AAED;
}
.rightBoxBody h4{
    border-bottom: 1px solid #C2BE9E;
    margin: 5px;
    padding-bottom: 5px;
    color: #01AAED;
}
.rightBoxBodyContent li{
    margin: 3px;
    background: #FFFFFF;
    border-radius: 3px;
    float: left;
    color: #01AAED;
    font-size: 16px;
    width: 80px;
    text-align: center;
}
.rightBoxBodyContent li:first-child{
    margin: 3px;
    background: #FFFFFF;
    border-radius: 3px;
    float: left;
    color: #01AAED;
    width: 48px;
    font-size: 16px;
    text-align: center;
}
.rightBoxBodyTitle li{
    margin: 3px;
    background: #dcedff;
    padding: 3px 20px;
    border-radius: 3px;
    float: left;
    color: #01AAED;
}
.recordTitle li{
    margin: 3px;
    background: #dcedff;
    padding: 3px 20px;
    border-radius: 3px;
    float: left;
    color: #01AAED;
}
.recordBody li{
    margin: 3px;
    padding: 3px 20px;
    border-radius: 3px;
    float: left;
    color: #01AAED;
}
.informBody{
    width: 100%;
    height: 94%;
    background: #dcedff;
}
.leftBox{
    margin: 0.9%;
    width: 20%;
    float: left;
    height: 96%;
    border-radius: 3px;
    background: #FFFFFF;
}
.leftTitle{
    color: #FFFFFF;
    padding: 5px 0 5px 10px;
    background: #4476A7;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.leftBodyTitle li{
    display: inline-block;
    font-size: 16px;
    color: black;
    border: 1px solid #FFFFFF;
    line-height: 25px;
    background: #FFFFFF;
    text-align: center;
    background: lightpink;
    border-radius: 3px;
}
.leftBodyBodyBigBox{
    overflow: hidden;
    overflow: auto;
}
.leftBodyBody li{
    display: inline-block;
    font-size: 16px;
    color: black;
    line-height: 25px;
    text-align: center;
    color: #000000;
}
.leftBodyBody li:first-child{
    display: inline-block;
    font-size: 16px;
    color: black;
    border: 1px solid #FFFFFF;
    line-height: 25px;
    background: #FFFFFF;
    text-align: center;
    background: lightpink;
    border-radius: 3px;
}
.rightBox{
    margin:0.9%;
    width: 76%;
    float: left;
    height: 96%;
    border-radius: 3px;
    background: #FFFFFF;
}
.bill{
    margin: 1%;
    width: 98%;
    height: 50%;
    border-radius: 3px;
    border: 1px solid #FFB800;
}
.insetInvoice{
    margin: 1%;
    width: 98%;
    height: 45%;
    border-radius: 3px;
    border: 1px solid #FFB800;
}
h4{
    border-bottom: 1px solid #C2BE9E;
    margin: 5px;
    padding-bottom: 5px;
    color: lightpink;
}
.billTable{
    height: 63%;
    overflow: auto;
}
.billBtn{
    margin-top: 10px;
    padding-right: 15px;
}
.billBtn button{
    float: right;
}
.elderMessage{
    border: 1px solid #C2BE9E;
    float: left;
    margin: 5px;
    padding: 3px;
    height: 81%;
}
h6{
    border-bottom: 1px solid #C2BE9E;
    margin: 2px;
    padding-bottom: 3px;
    color:#01AAED;
}
.dataInput1{
    float: left;
    display: inline-block;
    width: 24%;
    margin: 2px;
}
.dataInput1 input{
    color: #01AAED;
}