.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}
body{
    background: #FAFAFA;
}
.main{
    width: 1000px;
    height:500px;
    float: left;
    margin-right: 3%;
}
.columnar{
    width: 100%;
}
.columnarText{
    margin-top: 2%;
    float: left;
}

.textarea{
    margin-top: 2%;
    width: 100%;
    height: 500px;
    padding: 1%;
}
.textarea textarea{
    width: 98%;
    height: 70%;
    resize: none;
    font-size: 16px;
    color: #01AAED;
    border-radius: 5px;
}
.character{
    width: 100%;
    height: 85%;
}
.StrTextarea{
    margin-top: 20px;
    width: 45%;
    float: right;
}
.StrTextarea textarea{
    width: 50%;
    height: 50%;
    resize: none;
    font-size: 16px;
    color: #01AAED;
    border-radius: 5px;
}
.billTable{
    width: 50%;
    float: left;
}
.MonthSum{
    position: absolute;
    top: 90%;
    left: 5%;
}