*{
    padding: 0px;
    margin: 0px;
}
input{
    border: none;
    background: rgba(0,0,0,0);
    width: 80%;
    color: #1E9FFF;
    outline: none;
    font-size: 18px;
}
body{
    background:url("../img/ylxt.png");
    background-size: 100% 100%;
    position: relative;
}
.content{
    width: 20%;
    position: absolute;
    left: 38.5%;
    top: 30%;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 10px 20px 0 17px;
}
.content div{
    height: 40px;
    margin: 20px 0 20px 0;
}
.userName{
    width: 65%;
    display: flex;
    border:2px solid #dcdcdc;
    border-radius: 10px;
    margin-right: 5%;
    float: left;
}
.userName img{
    height: 40px;
    width: 40px;
    margin-right: 5px;
}
.userType{
    width: 30%;
    display: flex;
    border-bottom:2px solid #dcdcdc;
    float: right;
}
.password{
    width: 100%;
    display: flex;
    border:2px solid #dcdcdc;
    border-radius: 10px;
}
.password img{
    height: 40px;
    width: 40px;
    margin-right: 5px;
}
.authCode{
    display: flex;
}
.authCodeImg input{
    width: 40px;
    width: 60%;
}
.authCode img{
    width: 35%;
    height: 40px;
    border-radius: 10px;
}
.authCodeImg{
    margin-right: 5%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #dcdcdc;
    display: flex;
}
.authCodeImg img{
    height: 40px;
    width: 40px;
    margin-right: 5px;
}
.login button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    background: #FF5722;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    text-align: center;
}
.other{
    text-align: center;
    color: white;
}
.other span:hover{
    cursor: pointer;
    color: #00FFFF;
}