
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PNR复制</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/app-assets/fonts/simple-line-icons/style.css" rel="stylesheet">
    <style>
        .btn.disabled, .btn:disabled {
            color: #dddddd;
            opacity: .4;
        }
        div{
            font-family: "华文彩云";
        }
        h4{
            font-family: "华文彩云";
        }
        h5{
            font-family: "华文彩云";
        }
        p{
            font-family: "华文彩云";
        }
         label{
            font-family: "华文彩云";
        }
        input{
            font-family: "华文彩云";
        }
        tr{
            font-family: "华文彩云";
        }
        td{
            font-family: "华文彩云";
        }
        th{
            font-family: "华文彩云";
        }
        b{
            font-family: "华文彩云";
        }
        button{
            font-family: "华文彩云";
        }
        a{
            font-family: "华文彩云";
        }
        h2{
            font-family: "华文彩云";
        }
        dd{
            font-family: "华文彩云";
        }
        span{
            font-family: "华文彩云";
        }
        select{
            font-family: "华文彩云";
        }
    </style>
</head>
<body>
    <div class="container mb-4">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <h2>PNR复制</h2>
            </div>
        </div>
        @*PNR编号 、 PNR状态*@
        <div class="row">
            <label class="col-12 col-form-label">
                <b>PNR:&nbsp;&nbsp;<span id="spanPNRNo"></span>&nbsp;&nbsp;<span id="spanPNRStatus"></span></b>
            </label>
        </div>
        @*PNR旅客信息 table*@
        <table class="table table-bordered text-center mb-1">
            <thead>
                <tr>
                    <th width="60">选择</th>
                    <th width="60">序号</th>
                    <th>旅客</th>
                    <th>旅客类型</th>
                    <th>证件类型</th>
                    <th>证件号码</th>
                    <th>常旅客号</th>
                </tr>
            </thead>
            <tbody id="tbodyPassenger"></tbody>
        </table>
        @*PNR航段信息 table*@
        <table class="table table-bordered text-center mb-1">
            <thead>
                <tr>
                    <th width="60">选择</th>
                    <th width="60">序号</th>
                    <th>航段号</th>
                    <th>航班号</th>
                    <th>始发地 - 目的地</th>
                    <th>起飞 - 到达</th>
                    <th>日期</th>
                    <th>舱位等级</th>
                    <th>价格(人民币)</th>
                    <th>座位数</th>
                    <th>航段类型</th>
                </tr>
            </thead>
            <tbody id="tbodySegment"></tbody>
        </table>
        @*PNR联系组信息 table*@
        <table class="table table-bordered mb-1">
            <thead>
                <tr>
                    <th width="60">选择</th>@*相比PNR信息显示 多出选择列*@
                    <th width="60" class="text-center">序号</th>
                    <th>联系组信息</th>
                </tr>
            </thead>
            <tbody id="tbodyContact"></tbody>
        </table>
        @*PNR其他信息 table*@
        <table class="table table-bordered mb-1">
            <thead>
                <tr>
                    <th width="60">选择</th>
                    <th width="60" class="text-center">序号</th>
                    <th>其他信息</th>
                </tr>
            </thead>
            <tbody id="tbodyOtherInfo"></tbody>
        </table>
        @*PNR出票组信息 table*@
        <table class="table table-bordered mb-1">
            <thead>
                <tr>
                    <th width="60">选择</th>
                    <th width="60" class="text-center">序号</th>
                    <th>出票组信息</th>
                </tr>
            </thead>
            <tbody id="tbodyTicketingInfos"></tbody>
        </table>
        @*操作按钮*@
        <div class="row justify-content-center mt-4 mb-4">
            <div class="col-4 col-md-3 col-lg-2">
                <button type="button" class="btn btn-primary btn-block" id="btnCopyPNR" onclick="doCopy()">复制</button>
            </div>
            <div class="col-3 col-md-3 col-lg-2">
                <button type="button" class="btn btn-primary btn-block" id="btnBack" onclick="back()">返回</button>
            </div>
        </div>
    </div>

    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/bootstrap-4.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script>
        var PNRID = @ViewBag.PNRID;
        var layer;

        $(function(){
            //加载&初始化layui模块
            layui.use(['layer'],function(){
                layer = layui.layer;

                //发送请求
                var layerIndex = layer.load();
                $.post("SelectPNRInfo",
                    {
                        PNRID:PNRID
                    },
                    function(jsonData){
                        //关闭加载层
                        layer.close(layerIndex);

                        console.log(jsonData);

                        //获取控制器传回的数据
                        var pnrInfors = jsonData.pnrInfors;
                        var PassengerInfors = jsonData.PassengerInfors;
                        var FlightcabinInfors = jsonData.FlightcabinInfors;
                        var OtherInfors = jsonData.OtherInfors;
                        var PNRTickings = jsonData.PNRTickings;

                        console.log(pnrInfors);

                        //1.PNR编号&PNR状态
                        $("#spanPNRNo").text(pnrInfors.PNRNo);
                        $("#spanPNRStatus").text("("+pnrInfors.strPNRStatus+")")

                        //记录序号
                        var totalNum = 1;

                        //2.旅客信息部分
                        //遍历循环旅客信息
                        $.each(PassengerInfors,function(index,passenger){
                            //创建tr
                            var pTr = $("<tr></tr>");
                            //用jquery中的data()方法获取在元素上存放的数据
                            //data-* 属性用于存储页面或应用程序的私有自定义数据。
                            //data-* 属性赋予我们在所有 HTML 元素上嵌入自定义 data 属性的能力。
                            //data-* 属性包括两部分：
                            //属性名不应该包含任何大写字母，并且在前缀 "data-" 之后必须有至少一个字符
                            //属性值可以是任意字符串
                            //把需要的数据放进input标签里的data属性中  data-变量名="'需要拼接的字符串或者值'"
                            pTr.append('<td><input type="checkbox" name="passenger" data-passenger-name="'+passenger.passengerName+
                                                                                 '" data-passenger-type="'+passenger.passengerTypeID +
                                                                                 '" data-certificates-type="'+passenger.certificatesTypeID +
                                                                                 '" data-certificates-code="'+passenger.certificatesCode+
                                                                                 '" data-frequent-passengerno="'+passenger.frequentPassengerNo+'" /></td>');
                            pTr.append("<td>"+ (totalNum++) +"</td>");
                            pTr.append("<td>"+ passenger.passengerName +"</td>");
                            pTr.append("<td>"+ passenger.passengerType +"</td>");
                            pTr.append("<td>"+ passenger.certificatesType +"</td>");
                            pTr.append("<td>"+ passenger.certificatesCode +"</td>");
                            pTr.append("<td>"+ passenger.frequentPassengerNo +"</td>");

                            //tr放入tbody
                            $("#tbodyPassenger").append(pTr);
                        })

                        //3.航段航班舱位信息
                        $.each(FlightcabinInfors,function(index,flightCabinInfor){
                            //创建元素
                            var fTr = $("<tr></tr>");

                            fTr.append("<td class='text-danger'>*</td>");
                            fTr.append("<td>"+(totalNum++)+"</td>");
                            fTr.append("<td>"+flightCabinInfor.segmentNo+"</td>");
                            fTr.append("<td>"+flightCabinInfor.flightCode+"</td>");
                            fTr.append("<td>"+flightCabinInfor.orangeCity +"-"+ flightCabinInfor.destinationCity +"</td>");
                            fTr.append("<td>"+flightTimeToStr(flightCabinInfor.departureTime,flightCabinInfor.arrivalTime) +"</td>");

                            var dtFlight1 = flightCabinInfor.flightDate;
                            //replace() /Date(1596038400000)/
                            //var dtFlight = new Date(parseInt(dtFlight1.replace("/Date(","").replace(")/","")));
                            //substr() 方法可在字符串中抽取从 start 下标开始的指定数目的字符。
                            //obj.substr(start,length)
                            var dtFlight =new Date(parseInt(dtFlight1.substr(6,13)));
                            //console.log(dtFlight1);
                            fTr.append("<td>"+(dtFlight.getFullYear()+"-"+(dtFlight.getMonth()+1)+"-"+dtFlight.getDate() )+"</td>");
                            fTr.append("<td>"+flightCabinInfor.cabinTypeName +"</td>");
                            fTr.append("<td>"+flightCabinInfor.cabinPrice +"</td>");
                            fTr.append("<td>"+flightCabinInfor.seatNum +"</td>");
                            fTr.append("<td>"+flightCabinInfor.segmentTypeStr +"</td>");

                            $("#tbodySegment").append(fTr);
                        });

                        //4. 联系组
                        var cTr = $("<tr></tr>");
                        cTr.append('<td class="text-center"><input type="checkbox" name="contact" data-contact-name="'+pnrInfors.contactName +
                                                                                               '" data-contact-phone="'+pnrInfors.contactPhone +'" /></td>');
                        cTr.append('<td class="text-center">'+(totalNum++)+'</td>');
                        cTr.append('<td>'+pnrInfors.contactName+' '+pnrInfors.contactPhone+'</td>');
                        //添加到联系人组tbody中
                        $("#tbodyContact").append(cTr);

                        //5. 其他信息tbodyOtherInfo
                        $.each(OtherInfors,function(index,otherInfo){
                            var oTr = $("<tr></tr>");
                            oTr.append('<td class="text-danger text-center">*</td>');
                            oTr.append('<td>'+(totalNum++)+'</td>');
                            oTr.append('<td>'+otherInfo.otherInfo+'</td>');

                            //添加到其他组tbody中
                            $("#tbodyOtherInfo").append(oTr);
                        });

                        //6.出票信息
                        var ticketingTr = $("<tr></tr>");
                        ticketingTr.append('<td class="text-danger text-center">*</td>');
                        ticketingTr.append('<td class="text-center">'+(totalNum++)+'</td>');
                        ticketingTr.append('<td>'+pnrInfors.TicketingInfo+'</td>');
                        //添加到出票组tbody中
                        $("#tbodyTicketingInfos").append(ticketingTr);

                        $.each(PNRTickings,function(index,pnrTicking){
                            var pTr = $("<tr></tr>");
                            pTr.append("<td class='text-danger text-center'>*</td>");
                            pTr.append('<td class="text-center">'+(totalNum++)+'</td>');
                            pTr.append("<td>"+"OSI MU TKNO"+ pnrTicking.ticketNo.replace("-","")+
                                "/S"+pnrTicking.segmentNo+"/P"+pnrTicking.passengerNo +"</td>");

                            //添加到出票组tbody中
                            $("#tbodyTicketingInfos").append(pTr);
                        })
                    });
            });
        });

        //复制按钮点击事件
        function doCopy()
        {
            //获取需要复制的旅客信息 sessionStorage
            //创建一个数组容器保存input标签的数据
            var passengerInfors=[];
            //循环遍历inp标签因为可能出现两个旅客，checked被勾选
            $('input[name="passenger"]:checked').each(function(){
                //用jquery中的data()方法获取在元素上存放的数据
                //data-* 属性用于存储页面或应用程序的私有自定义数据。
                //data-* 属性赋予我们在所有 HTML 元素上嵌入自定义 data 属性的能力。
                //data-* 属性包括两部分：
                //属性名不应该包含任何大写字母，并且在前缀 "data-" 之后必须有至少一个字符
                //属性值可以是任意字符串


                //获取当前input里的data属性各种值，并且赋值给新的变量，然后利用创建好的容器
                var passengerName = $(this).data("passenger-name");//旅客姓名
                var passengerTypeID = $(this).data("passenger-type");//旅客类型ID
                var certificatesTypeID = $(this).data("certificates-type");//证件类型ID
                var certificatesCode = $(this).data("certificates-code");//证件号
                var frequentPassengerNo = $(this).data("frequent-passengerno");//常旅客编号
                //将数据保存到容器中，利用键值对形式，然后再用sessionStorage保存数据
                passengerInfors.push({
                    passengerName:passengerName,//旅客姓名
                    passengerTypeID:passengerTypeID,//旅客类型ID
                    certificatesTypeID:certificatesTypeID,//证件类型ID
                    certificatesCode:certificatesCode,//证件号
                    frequentPassengerNo:frequentPassengerNo//常旅客编号
                });
            });

            //获取需要复制的联系人信息
            var contactInfor = {};
            //获取联系人信息的input标签和
            var contact = $('input[name="contact"]:checked');
            //data()方法获取数据
            var contactName = contact.data("contact-name");
            var contactPhone= contact.data("contact-phone");

            contactInfor = {
                contactName:contactName,
                contactPhone:contactPhone
            }

            //判断是否存在需要复制的信息
            if (passengerInfors.length==0&&JSON.stringify(contactInfor)=="{}")
            {
                layer.alert("至少需要选择一个旅客或者联系人复制！",{icon:0,title:"提示"});
                return;
            }

            //将数据保存到sessionStorage，JSON.stringify(passengerInfors)转成json格式字符串保存，如果需要提取getItem进行提取，parse转换成JSON对象，stringify转换成JSON字符串和
            
            sessionStorage.setItem("passengerInfors",JSON.stringify(passengerInfors));
            sessionStorage.setItem("contactInfor",JSON.stringify(contactInfor));

            //设置一个复制操作的标志
            sessionStorage.setItem("copyPNR","true");

            //页面跳转
            window.location.replace("/PNR/PNRAppointment/Index");
        }

        //返回
        function back(){
            window.location.href="PnrInfoShow?PNRID="+PNRID;
        }

    </script>
</body>
</html>
