
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改姓名</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/app-assets/fonts/simple-line-icons/style.css" rel="stylesheet">
    <style>
        .btn.disabled, .btn:disabled {
            color: #dddddd;
            opacity: .4;
            div{
            font-family: "华文彩云";
        }
        h4{
            font-family: "华文彩云";
        }
        h5{
            font-family: "华文彩云";
        }
        p{
            font-family: "华文彩云";
        }
         label{
            font-family: "华文彩云";
        }
        input{
            font-family: "华文彩云";
        }
        tr{
            font-family: "华文彩云";
        }
        td{
            font-family: "华文彩云";
        }
        th{
            font-family: "华文彩云";
        }
        b{
            font-family: "华文彩云";
        }
        button{
            font-family: "华文彩云";
        }
        a{
            font-family: "华文彩云";
        }
        h2{
            font-family: "华文彩云";
        }
        dd{
            font-family: "华文彩云";
        }
        span{
            font-family: "华文彩云";
        }
        select{
            font-family: "华文彩云";
        }
        }
    </style>
</head>
<body>
    <div class="container mb-4">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <h2>修改旅客姓名</h2>
            </div>
        </div>
        @*PNR编号 、 PNR状态*@
        <div class="row">
            <label class="col-12 col-form-label">
                <b>PNR:&nbsp;&nbsp;<span id="spanPNRNo"></span>&nbsp;&nbsp;<span id="spanPNRStatus"></span></b>
            </label>
        </div>
        @*PNR旅客信息 table*@
        <table class="table table-bordered text-center mb-1">
            <thead>
                <tr>
                    <th width="60">序号</th>
                    <th>旅客</th>
                    <th>旅客类型</th>
                    <th>证件类型</th>
                    <th>证件号码</th>
                    <th>常旅客号</th>
                </tr>
            </thead>
            <tbody id="tbodyPassenger"></tbody>
        </table>
        @*PNR航段信息 table*@
        <table class="table table-bordered text-center mb-1">
            <thead>
                <tr>
                    <th width="60">序号</th>
                    <th>航段号</th>
                    <th>航班号</th>
                    <th>始发地 - 目的地</th>
                    <th>起飞 - 到达</th>
                    <th>日期</th>
                    <th>舱位等级</th>
                    <th>价格(人民币)</th>
                    <th>座位数</th>
                    <th>航段类型</th>
                </tr>
            </thead>
            <tbody id="tbodySegment"></tbody>
        </table>
        @*PNR联系组信息 table*@
        <table class="table table-bordered mb-1">
            <thead>
                <tr>
                    <th width="60" class="text-center">序号</th>
                    <th>联系组信息</th>
                </tr>
            </thead>
            <tbody id="tbodyContact"></tbody>
        </table>
        @*PNR其他信息 table*@
        <table class="table table-bordered mb-1">
            <thead>
                <tr>
                    <th width="60" class="text-center">序号</th>
                    <th>其他信息</th>
                </tr>
            </thead>
            <tbody id="tbodyOtherInfo"></tbody>
        </table>
        @*PNR出票组信息 table*@
        <table class="table table-bordered mb-1">
            <thead>
                <tr>
                    <th width="60" class="text-center">序号</th>
                    <th>出票组信息</th>
                </tr>
            </thead>
            <tbody id="tbodyTicketingInfos"></tbody>
        </table>
        @*操作按钮*@
        <div class="row justify-content-center mt-4 mb-4">
            <div class="col-4 col-md-3 col-lg-2">
                <button type="button" class="btn btn-primary btn-block" id="btnUpdatePassengerName">修改姓名</button>
            </div>
            <div class="col-3 col-md-3 col-lg-2">
                <button type="button" class="btn btn-primary btn-block" id="btnBack">返回</button>
            </div>
        </div>
    </div>

    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/bootstrap-4.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script>
        var pnrID = @ViewBag.PNRID;
        var layer;

        $(function(){
            //加载&初始化layui模块
            layui.use(['layer'],function(){
                layer=layui.layer;

                //加载数据
                var layIndex = layer.load();
                //查询PNR数据，回填到页面
                $.post("SelectPNRInfo",{ PNRID : pnrID }, function(jsonData){
                    //关闭加载层
                    layer.close(layIndex);

                    //console.log(jsonData);

                    //获取控制器传回的数据
                    var pnrInfors = jsonData.pnrInfors;
                    var PassengerInfors = jsonData.PassengerInfors;
                    var FlightcabinInfors = jsonData.FlightcabinInfors;
                    var OtherInfors = jsonData.OtherInfors;
                    var PNRTickings = jsonData.PNRTickings;

                    //console.log(PassengerInfors);                    

                    //1.PNR编号&PNR状态
                    $("#spanPNRNo").text(pnrInfors.PNRNo);
                    $("#spanPNRStatus").text("("+pnrInfors.strPNRStatus+")")

                    //记录序号
                    var totalNum = 1;

                    //2.旅客信息部分
                    //遍历循环旅客信息
                    passengerNum = PassengerInfors.length;
                    $.each(PassengerInfors,function(index,passenger){
                        //创建tr
                        var pTr = $("<tr></tr>");

                        pTr.append("<td>"+ (totalNum++) +"</td>");
                        pTr.append("<td><input type='text' class='form-control form-control-sm' name='passengerName'"+
                                    " value='"+passenger.passengerName+"' data-passenger-id='"+passenger.PNRPassengerID +"' /></td>");
                        pTr.append("<td>"+ passenger.passengerType +"</td>");
                        pTr.append("<td>"+ passenger.certificatesType +"</td>");
                        pTr.append("<td>"+ passenger.certificatesCode +"</td>");
                        pTr.append("<td>"+ passenger.frequentPassengerNo +"</td>");

                        //tr放入tbody
                        $("#tbodyPassenger").append(pTr);
                    })

                    //3.航段航班舱位信息
                    $.each(FlightcabinInfors,function(index,flightCabinInfor){
                        //创建元素
                        var fTr = $("<tr></tr>");

                        fTr.append("<td>"+(totalNum++)+"</td>");
                        fTr.append("<td>"+flightCabinInfor.segmentNo+"</td>");
                        fTr.append("<td>"+flightCabinInfor.flightCode+"</td>");
                        fTr.append("<td>"+flightCabinInfor.orangeCity +"-"+ flightCabinInfor.destinationCity +"</td>");
                        fTr.append("<td>"+flightTimeToStr(flightCabinInfor.departureTime,flightCabinInfor.arrivalTime) +"</td>");

                        var dtFlight1 = flightCabinInfor.flightDate;
                        //replace() /Date(1596038400000)/
                        //var dtFlight = new Date(parseInt(dtFlight1.replace("/Date(","").replace(")/","")));
                        //substr() 方法可在字符串中抽取从 start 下标开始的指定数目的字符。
                        //obj.substr(start,length)
                        var dtFlight =new Date(parseInt(dtFlight1.substr(6,13)));
                        //console.log(dtFlight1);
                        fTr.append("<td>"+(dtFlight.getFullYear()+"-"+(dtFlight.getMonth()+1)+"-"+dtFlight.getDate() )+"</td>");
                        fTr.append("<td>"+flightCabinInfor.cabinTypeName +"</td>");
                        fTr.append("<td>"+flightCabinInfor.cabinPrice +"</td>");
                        fTr.append("<td>"+flightCabinInfor.seatNum +"</td>");
                        fTr.append("<td>"+flightCabinInfor.segmentTypeStr +"</td>");

                        $("#tbodySegment").append(fTr);
                    });

                    //4. 联系组
                    var cTr = $("<tr></tr>");
                    cTr.append('<td class="text-center">'+(totalNum++)+'</td>');
                    cTr.append('<td>'+pnrInfors.contactName+' '+pnrInfors.contactPhone+'</td>');
                    //添加到联系人组tbody中
                    $("#tbodyContact").append(cTr);

                    //5. 其他信息tbodyOtherInfo
                    $.each(OtherInfors,function(index,otherInfo){
                        var oTr = $("<tr></tr>");
                        oTr.append('<td>'+(totalNum++)+'</td>');
                        oTr.append('<td>'+otherInfo.otherInfo+'</td>');

                        //添加到其他组tbody中
                        $("#tbodyOtherInfo").append(oTr);
                    });

                    //6.出票信息
                    var ticketingTr = $("<tr></tr>");
                    ticketingTr.append('<td class="text-center">'+(totalNum++)+'</td>');
                    ticketingTr.append('<td>'+pnrInfors.TicketingInfo+'</td>');
                    //添加到出票组tbody中
                    $("#tbodyTicketingInfos").append(ticketingTr);

                    $.each(PNRTickings,function(index,pnrTicking){
                        var pTr = $("<tr></tr>");
                        pTr.append('<td class="text-center">'+(totalNum++)+'</td>');
                        pTr.append("<td>"+"OSI MU TKNO"+ pnrTicking.ticketNo.replace("-","")+
                            "/S"+pnrTicking.segmentNo+"/P"+pnrTicking.passengerNo +"</td>");

                        //添加到出票组tbody中
                        $("#tbodyTicketingInfos").append(pTr);
                    })
                });
            });

            //修改姓名
            $("#btnUpdatePassengerName").click(function(){
                //获取页面上所有旅客的姓名
                var passengerInfor=[];
                $('input[name="passengerName"]').each(function(){
                    passengerInfor.push({
                        PNRPassengerID:$(this).data("passenger-id"),
                        passengerName:$(this).val()
                    });
                });

                //数据验证
                for (var i = 0; i < passengerInfor.length; i++)
                {
                    if (passengerInfor[i].passengerName==undefined||passengerInfor[i].passengerName=="")
                    {
                        myAlert("第【"+(i+1)+"】位旅客的姓名未输入，请检查!");
                        return;
                    }
                }
                console.log(passengerInfor)
                //提交请求
                var layIndex = layer.load();
                $.post("updatePassengerName",
                    {
                        passengerInfors:passengerInfor,
                        PNRID:pnrID
                    },function(jsonData){
                        //关闭加载层
                        layer.close(layIndex);
                        myAlert(jsonData.Text);
                        if (jsonData.State) {
                            window.location.href="pnrInfoShow?PNRID="+pnrID;
                        }
                    });

            });

            //返回按钮
            $("#btnBack").click(function(){
                window.location.href="pnrInfoShow?PNRID="+pnrID;
            });

        });
    </script>

</body>
</html>
