
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>飞机订票系统</title>
    <link href="~/Content/images/log.png" type="image/x-icon" rel="shortcut icon" />
    <!--bootstrap 框架样式表-->
    <link href="~/Content/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <!--模块"其他"部分的样式表-->
    <link href="~/Content/css/OthersMaintenance.css" rel="stylesheet" />
    <style>
         div{
            font-family: "华文彩云";
        }
        h4{
            font-family: "华文彩云";
        }
        h5{
            font-family: "华文彩云";
        }
        p{
            font-family: "华文彩云";
        }
         label{
            font-family: "华文彩云";
        }
        input{
            font-family: "华文彩云";
        }
        tr{
            font-family: "华文彩云";
        }
        td{
            font-family: "华文彩云";
        }
        th{
            font-family: "华文彩云";
        }
        b{
            font-family: "华文彩云";
        }
        button{
            font-family: "华文彩云";
        }
        a{
            font-family: "华文彩云";
        }
        h2{
            font-family: "华文彩云";
        }
        dd{
            font-family: "华文彩云";
        }
        span{
            font-family: "华文彩云";
        }
        select{
            font-family: "华文彩云";
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <h4 class="text-center py-3">密 码 修 改</h4>
        <div class="content py-3 text-center">
            <div class="card mt-5 py-4">
                <div class="card-body">
                    <form id="frmUser">
                        <input type="reset" hidden />
                        <div class="form-group row mt-3">
                            <label for="" class="col-form-label text-right col-4">输 入 原 密 码</label>
                            <input type="password" class="form-control col-4" id="oldPassword">
                            <label class="col-form-label col-4  text-left" id="oldTip"></label>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label text-right col-4">输 入 新 密 码</label>
                            <input type="password" class="form-control col-4" id="newPassword" disabled>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label text-right col-4">确 认 新 密 码</label>
                            <input type="password" class="form-control col-4" id="confirmPassword" disabled>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center mt-5">
                <button type="button" class="btn btn-outline-primary ml-4" onclick="updatePassword()">修改</button>
            </div>
        </div>
    </div>

    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script>
        //加载layer
        var layer;
        $(document).ready(function () {
            layui.use('layer',
                function() {
                    layer = layui.layer;
                });
        });

        //保存密码修改
        function updatePassword() {
            //==获取参数
            var oldPassword = $("#oldPassword").val();
            var newPassword = $("#newPassword").val();
            var confirmPassword = $("#confirmPassword").val();
            //==数据验证
            if (oldPassword == undefined || oldPassword == null || oldPassword=="") {
                layer.alert("请输入旧密码");
                return;
            }
            if (newPassword == undefined || newPassword == null || newPassword == "") {
                layer.alert("请输入新密码");
                return;
            }
            if (confirmPassword != newPassword) {
                layer.alert("两次输入的新密码不相同,请检查");
                return;
            }
            //===提交
            var layerIndex = layer.load();
            $.post("@Url.Content("~/OthersMaintenance/ModifyPassword/updatePassword")",
                {
                    oldPassword: oldPassword,
                    newPassword: newPassword
                }, function(msg) {
                    layer.close(layerIndex);
                    if (msg.State) {
                        layer.alert("修改密码成功,使用新密码出现登录", { icon: 1, closeBtn: 0 },
                            function (index) {
                                //location.replace("@Url.Content("~/Main/Login")");
                                //window.location.reload();
                                window.parent.location.reload();
                        });
                    } else {
                        layer.alert(msg.Text, { icon: 2 });
                    }
                });

        }

        //异步检查用户输入的旧密码是否正确
        $("#oldPassword").blur(function () {
            var oldPassword = $(this).val();//获取用户输入的旧密码
            $.post("@Url.Content("~/OthersMaintenance/ModifyPassword/CheckedOldPassword")",
                {
                    oldPassword: oldPassword
                },
                function (msg) {
                    if (msg.State) {
                        $("#oldTip").css("color", "green");
                        //显示文本框的绿色边框
                        $("#oldPassword").removeClass('is-invalid').addClass("is-valid");
                        //
                        $("#newPassword").removeAttr("disabled");
                        $("#confirmPassword").removeAttr("disabled");
                    } else {
                        $("#oldTip").css("color", "red");
                        //红色边框
                        $("#oldPassword").removeClass('is-valid').addClass("is-invalid");
                        //
                        $("#newPassword").attr("disabled", "disabled");
                        $("#confirmPassword").attr("disabled", "disabled");
                        //
                        $("#newPassword").val("");
                        $("#confirmPassword").val("");
                    }
                    $("#oldTip").text(msg.Text);
                }
             );
        });

    </script>
</body>
</html>
